section.container.contact
  h1 Contact
  p= contact
  .row
    .column
      input(type="text", name="nameField", placeholder="Enter Your name: ")
    .column
      input(type="text", name="emailField", placeholder="Enter Your e-mail: ")
  .row
    textarea(name="message" placeholder="Enter Your Message: ")
