
<i class="fas fa-angle-double-down"></i>

nav
  .clearfix.img
    img.float-left(src=image, alt="")
    .float-right
      h4 Jane Doe
      .small Adipiscing Accumsan
  #intro.clearfix.btn.purple
    i.fas.fa-home.float-left
    span.float-right Intro
  #portfolio.clearfix.btn
    i.fas.fa-th-large.float-left
    span.float-right Portfolio
  #about.clearfix.btn
    i.fas.fa-user.float-left
    span.float-right About Me
  #contact.clearfix.btn
    i.fas.fa-envelope.float-left
    span.float-right Countact
  .links
    a(href="#", target="_blank") 
      i.fab.fa-twitter
    a(href="#", target="_blank")
      i.fab.fa-facebook-square
    a(href="#", target="_blank")
      i.fab.fa-instagram

<i class="fas fa-angle-double-up"></i>
