extends layout

block content

  include ./partials/nav
  article  
    include ./partials/intro
    include ./partials/portfolio
    include ./partials/aboutme
    include ./partials/contact
  
  script(src="/javascripts/main.js", charset="utf-8")
