extends layout

block content
    .container(style="width: 400px;")
        input(type="file", name="")
        input(type="text", name="" placeholder="name")
        input(type="text", name="" placeholder="profession")

    .container
        h1 The administrating panel
        h4 Enter the changes, that you want to apear to the block below, then submit.

    .container
        h2 Intro Section
        .container(style="width: 400px;")
            input(type="text" placeholder="Header")
            textarea(name="", cols="30", rows="10" placeholder="Intro text")

    .container
        h2 Portfolio Section
        .container(style="width: 400px;")
            input(type="text", )
            br
            input(type="text", name="")
            textarea(name="", cols="30", rows="10")
            input(type="file", name="")